html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif, Meiryo;
  user-select: none;
  -webkit-user-select: none;
}
body {
  max-width: 25rem;
  margin: 0 auto;
  background-image: url(/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  font-size: 1rem;
}
@font-face {
  font-display: block;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/MaterialIcons-Regular.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.root::before {
  display: none;
  font-family: "Material Icons";
}

.scanner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scanner .camera {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.scanner .hud {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(env(safe-area-inset-bottom, 0) + 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(0.5rem) brightness(0.5);
  -webkit-backdrop-filter: blur(0.5rem) brightness(0.5);
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
}

.counter {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: calc(env(safe-area-inset-top, 0) + 4rem);
  background-color: rgba(64, 64, 255, 0.5);
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: calc(env(safe-area-inset-top, 0) + 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
}
.nav .title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1rem;
  margin: env(safe-area-inset-top, 0) 1rem 0 1rem;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 0.25rem rgba(255, 255, 255, 1);
}
.scanner .close,
.nav .add,
.nav .scan,
.nav .register,
.nav .login,
.nav .logout {
  text-decoration: none;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  margin-top: env(safe-area-inset-top, 0);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 0.25rem rgba(160, 160, 255, 1);
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.scanner .close,
.nav .add:hover,
.nav .scan:hover,
.nav .register:hover,
.nav .login:hover,
.nav .logout:hover {
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 1);
}
.scanner .close,
.nav .add:active,
.nav .scan:active,
.nav .register:active,
.nav .login:active,
.nav .logout:active {
  text-shadow: 0 0 0.25rem rgba(160, 160, 255, 1);
}
.list {
  margin: calc(env(safe-area-inset-top, 0) + 5rem) 0 2rem 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(0.5rem) saturate(2);
  -webkit-backdrop-filter: blur(0.5rem) saturate(2);
  box-shadow: 0 0 1rem rgba(160, 160, 255, 0.75);
  border-radius: 0.5rem;
}
.item:first-child {
  border-top: 0;
}
.item {
  border-top: 0.0625rem solid rgba(192, 192, 255, 1);
  padding: 1rem;
}
.item .title {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: rgba(64, 64, 255, 1);
}
.item .body {
  display: flex;
  justify-content: space-between;
}
.item .body .otp {
  font-size: 2rem;
  color: rgba(64, 64, 64, 1);
  user-select: text;
  height: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
}
.item .body .delete {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: rgba(160, 160, 255, 1);
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.item .body .delete:hover {
  text-shadow: 0 0 0.25rem rgba(160, 160, 255, 1);
}
.item .body .delete:active {
  text-shadow: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem) saturate(0.5) brightness(0.75);
  -webkit-backdrop-filter: blur(0.5rem) saturate(0.5) brightness(0.75);
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  opacity: 1;
  pointer-events: auto;
}
.invisible {
  opacity: 0;
  pointer-events: none;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  width: 20rem;
  height: 12rem;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(160, 160, 255, 0.75);
}

label {
  color: rgba(32, 32, 128, 1);
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

input[type="text"] {
  width: 14rem;
  height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
  border: 1px solid rgba(160, 160, 255, 1);
  border-radius: 0.25rem;
  outline: 0;
}
input[type="text"]:hover {
  box-shadow: 0 0 0.25rem rgba(160, 160, 255, 1);
}
input[type="text"]:focus {
  box-shadow: 0 0 0.5rem rgba(160, 160, 255, 1);
}
input[name="otp"] {
  text-transform: uppercase;
  font-family: monospace;
}

input[type="submit"] {
  font-weight: normal;
  font-family: system-ui;
  background: rgba(160, 160, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 0.75rem 0.75rem;
  margin: 1rem;
  transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
input[type="submit"]:hover {
  text-shadow: 0 0 0.25rem rgba(255, 255, 255, 1);
  box-shadow: 0 0 0.25rem rgba(160, 160, 255, 1);
}
input[type="submit"]:active {
  box-shadow: none;
  text-shadow: none;
}
.hidden {
  display: none;
}
@media (prefers-reduced-motion) {
  .scanner .close,
  .nav .add,
  .nav .scan,
  .nav .register,
  .nav .login,
  .nav .logout,
  .item .body .delete,
  .overlay,
  input[type="text"],
  input[type="submit"] {
    transition: none;
  }
}
