<!DOCTYPE html>
<html translate="no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
  />
  <meta name="google" content="notranslate" />
  <meta name="robots" content="noindex, nofollow" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="theme-color" content="#8787e7" />

  <title>ソ瑠璃パス</title>
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/favicon.png" />
  <link rel="stylesheet" href="/style.css?<%=mtimeCSS%>" />

  <div class="counter"></div>
  <div class="nav">
    <div class="title">ソ瑠璃パス</div>
    <span class="add material-icons">add</span>
  </div>

  <script src="/login.js<%=mtimeJS%>" defer></script>
</html>
